<?php
/**
 * {{ ansible_managed }}
 *
 * This variable is needed to encrypt the password in the cookie for cookie
 * based authentication. It needs to be 32 chars long.
 *
 */
$cfg['blowfish_secret'] = '{{ phpmyadmin_blowfish_secret }}';

/* vim: set ft=php expandtab sw=4 ts=4 sts=4: */
